:root{
   --fundo: #276768	;
   --cartao-frente:    #86bcbd	;
   --cartao-verso:  #00CED1	;
   --branco: white;
   --preto: black;
   --destaque: #7B68EE	 ;
}

body{
  background-color: var(--fundo);
}

footer{

    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
  padding:4rem;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
   gap: 3rem;
}

.cartao{
  margin: 1rem;
  flex-grow: 1;
  flex-basis: calc(33% - 6rem);
  height: 20rem;
}

.conteudo-cartao{
  background-color: var(--cartao-frente);
  color: var(--branco);
  text-align: center;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms ease-in-out;
}

.conteudo-cartao h3{
  border: 1px solid var(--destaque);
  text-align: left;
  position:absolute;
  padding: 0.5rem;
  margin: 0.6rem;
  border-radius: 0.5rem;
  backface-visibility: hidden;
}

.conteudo-cartao p{
  margin-top: 1rem;
padding: 2rem;
margin-top: 4rem;
font-size: 1.4vw;
}

.resposta-cartao p{
  color: var(--cartao-verso);
  font-weight: 700;
}

.cartao.active .conteudo-cartao{
  transform: rotateY(180deg);
}


.pergunta-cartao,
.resposta-cartao{
    backface-visibility: hidden;
    position:absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.resposta-cartao{
    transform:rotateY(180deg);
    background-color: var(--destaque);
    border: 4px solid var(--cartao-verso);
}